* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: 2px solid mediumturquoise;
    outline-offset: 10px
}

html {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    color: #3a3a3a;
}

header nav div {
    position: absolute;
    right: 20;
}

header nav ul a:nth-child(5) {
    position: fixed;
    right: 20px;
    padding: 1rem;
    
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: #774DD6;

    transition: .2s;
}

header nav ul a:nth-child(5):hover {
    background-color: #6842c2;
    border-radius: .4rem 1rem;
    right: 25px;
}
